/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --light-mode-background: #eee;
  --dark-mode-background: #222;
  --light-mode-font: #222;
  --dark-mode-font: #eee;
  --first-color: #1982c4;
  --second-color: #8ac926;
  --third-color: #ffca3a;
  --fourth-color: #ff595e;
  --fifth-color: #6a4c93;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-mode-background);
    color: var(--light-mode-font);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-font);
  }
}

body {
  display: grid;
  grid-template-rows: 100px calc(100dvh - 200px) 100px;
  grid-template-columns: 1fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  cursor: pointer;
}

header > h1 {
  font-size: xx-large;
  color: var(--first-color);
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--background);
  color: var(--font);
}

.addListLi,
.addItemLi {
  display: none;
}

.addListInput,
.addItemInput {
  height: 22px;
  width: 250px;
  font-size: x-large;
}

.addItemInput {
  width: 500px;
}

.addListForm,
.addItemForm {
  visibility: hidden;
  position: relative;
  left: 20px;
  top: 10px;
  width: 200px;
  height: 200px;
}

.sidebar {
  background-color: var(--first-color);
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.itemsContainer li {
  padding: 5px 0px 5px 20px;
}

.itemsContainer [class*="item"]:hover {
  background-color: var(--fifth-color);
}

.listsContainer {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.listsContainer li {
  padding: 5px 0px 5px 20px;
}

li i {
  float: right;
  color: var(--third-color);
  padding-right: 20px;
}

.fa-trash {
  color: var(--fourth-color);
}

.listsContainer .list:hover {
  background-color: var(--second-color);
}

.listsContainer li {
  border-right: 10px var(--first-color) solid;
}

.listsContainer .active {
  border-right: 10px var(--second-color) solid;
}
