/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  color-scheme: light dark;
  --light-mode-background: #eee;
  --light-mode-font: #222;

  --dark-mode-background: #222;
  --dark-mode-font: #eee;

  --base: #222;
  --text: #eee;

  --first-color: #1982c4;
  --second-color: #8ac926;
  --third-color: #f6ae2d;
  --fourth-color: #ff595e;
  --fifth-color: #6a4c93;
  --sixth-color: #df6c11;
}

@media (prefers-color-scheme: light) {
  :root {
    --base: #eee;
    --text: #222;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #222;
    --text: #eee;
  }
}

.red {
  background-color: var(--fourth-color);
}

.grey {
  background-color: color-mix(in srgb, var(--base) 80%, var(--text) 20%);
}

html {
  color-scheme: dark light;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100px calc(100% - 200px) 100px;
  grid-template-columns: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--base);
  color: var(--text);
  min-height: 100dvh;
}

li {
  cursor: pointer;
}

header > h1 {
  font-size: xx-large;
  color: var(--first-color);
}

header > img {
  padding-left: 50px;
}

header,
footer {
  background-color: color-mix(in srgb, var(--base) 98%, var(--text) 2%);
}

main {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(360px, 1fr);
  grid-template-rows: 100%;
}

@media (width < 600px) {
  main {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(200px, auto) minmax(360px, 1fr);
  }
}

.addListLi,
.addItemLi {
  display: none;
}

.addListInput,
.addItemInput {
  height: 30px;
  width: 250px;
  font-size: x-large;
}

.addItemInput {
  width: 300px;
}

.addListForm,
.addItemForm {
  visibility: hidden;
  position: relative;
  left: 20px;
  top: 10px;
  width: 200px;
  height: 200px;
}

.sidebar {
  background-color: var(--first-color);
}

.itemsContainer {
  font-size: x-large;
}

.itemsContainer li {
  padding: 20px 25px 20px 25px;
  border-bottom: 10px solid
    color-mix(in srgb, var(--background-color) 97%, var(--fifth-color) 3%);
}

/* .itemsContainer li:nth-child(odd) {
  background-color: color-mix(
    in srgb,
    var(--dark-mode-background) 97%,
    var(--dark-mode-font) 3%
  );
} */

.itemsContainer [class*="item"]:hover {
  background-color: color-mix(in srgb, var(--fifth-color) 5%, var(--base) 95%);
}
.active-item {
  background-color: color-mix(in srgb, var(--fifth-color) 5%, var(--base) 95%);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.5);
}

.listsContainer {
  font-size: x-large;
}

.listsContainer li {
  padding: 10px 10px;
  font-weight: 600;
}

.quickActions i {
  padding: 0 4px;
}

.quickActions {
  float: right;
  margin: 0 3px;
}

.quickActions button {
  border: none;
  outline: none;
  font-size: large;
  padding: 5px 10px;
  position: relative;
  right: 0px;
}

.quickActions button:hover {
  border-bottom: 5px solid var(--fifth-color);
}

.fa-trash {
  color: var(--fourth-color);
}

.fa-square,
.fa-square-check {
  color: var(--second-color);
}

.fa-pen {
  color: var(--fifth-color);
}

.fa-box-archive {
  color: var(--third-color);
}

.dueDistance {
  padding-top: 20px;
  font-size: medium;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.dueDistance i {
  padding-right: 10px;
}

.listsContainer .list:hover {
  background-color: var(--second-color);
  border-right: 10px var(--second-color) solid;
}

.listsContainer li {
  border-right: 10px var(--first-color) solid;
}

.listsContainer .active {
  border-right: 10px var(--second-color) solid;
}

.overdue {
  color: var(--fourth-color);
}

.dueToday {
  color: var(--third-color);
}

.strikethrough {
  text-decoration: line-through wavy 8px
    color-mix(in srgb, var(--fifth-color), transparent 40%);
  opacity: 70%;
}

.toasts {
  position: fixed;
  min-width: 100vw;
  z-index: 9999;
  bottom: 20px;
  left: calc(100vw - 13rem);
  margin: 0px;
  padding: 0px;
  pointer-events: none;
  overflow: hidden;
}

.toast {
  position: relative;
  min-width: 10rem;
  max-width: 10rem;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--fifth-color);
  opacity: 90%;
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1);
  animation-duration: 0.3s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* .animate.slide {
  animation-name: animate-slide;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-duration: 0.3s;
}

@keyframes animate-slide {
  0% {
    transform: scale(1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
} */

.itemTitle {
  font-weight: 500;
  line-height: 125%;
  padding-left: 10px;
}

.itemsContainer:hover li {
  opacity: 0.6;
}

.itemsContainer li:hover {
  opacity: 1;
}

li > .detailsContainer {
  margin: auto;
  display: none;
}

.detailsForm {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.todoDueDate {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}

.detailsForm label {
  width: 160px;
  display: inline-block;
  text-align: left;
}

.detailsForm div {
  padding: 1rem;
}

.detailsForm select,
.detailsForm input,
.detailsForm textarea {
  color: inherit;
  border: none;
  background-color: color-mix(in srgb, var(--fifth-color) 20%, var(--base) 80%);
  outline: none;
  inset: none;
  font-size: x-large;
  padding: 5px;
  width: 300px;
  border-bottom: solid 5px var(--base);
}

.detailsForm textarea {
  font-size: large;
  height: 180px;
}

.detailsContainer > i {
  position: relative;
  float: right;
  bottom: 40px;
  font-size: xx-large;
  color: var(--second-color);
  justify-self: flex-end;
  align-self: flex-end;
}

.priority1 {
  color: var(--fourth-color);
}

.priority2 {
  color: var(--sixth-color);
}

.priority3 {
  color: var(--third-color);
}

.priority4 {
  color: var(--first-color);
}
